@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


:root {
  /* Primary Colors */
  --color-primary-500: #007AFF;
  --color-primary-600: #2563EB;
  --color-primary-700: #1D4ED8;
  --color-primary-200: #f3f6ff;

  /* Gray Scale */
  --color-gray-50: #F8FAFC;
  --color-gray-100: #F1F5F9;
  --color-gray-200: #E2E8F0;
  --color-gray-300: #CBD5E1;
  --color-gray-400: #94A3B8;
  --color-gray-500: #64748B;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1E293B;
  --color-gray-900: #0F172A;

  /* Status Colors */
  --color-success: #10B981;
  --color-error: #EF4444;
  --color-warning: #F59E0B;
}